{% extends 'alora_user.html' %}
{% load static %}

{% block content %}
<div class="container-fluid about ">
    <div class="row  mb-3 me-3">
        <div class="col-md-6 mt-5 ">
            <div class="about_main">
            <div class=" about1 ">
                <img src="{% static 'img/about1.png' %}" alt="" class="img-fluid img_about position-absolute">  
            </div>
            <div class="about2">
                <img src="{% static 'img/about1.png' %}" alt="" class="img-fluid img_about "> 
            </div>
        </div>

        </div>
        <div class="col-md-6 mt-5 ">
            <div class="box1  p-3">
                <h2 class=" pt-2 text-center mb-4 ">WELCOME TO ALORA</h2>
                <p class="box1_p">At ALORA, we specialize in creating memorable events that leave a lasting impression. Whether it's a corporate event, wedding, or special celebration, we work closely with you to bring your vision to life with creativity, attention to detail, and seamless execution.
                    Our experienced team handles every aspect of event planning—from concept to coordination—ensuring your event runs smoothly and exceeds expectations. We pride ourselves on providing personalized service, reliable solutions, and stress-free planning for every occasion.
                    Let us help you make your next event unforgettable. Contact us today to start planning!</p>
            </div>
        </div>
    </div>
    
    <div class="vision my-5 mx-auto w-75 d-flex flex-column justify-content-center align-items-center text-center">
        <div class="w-100">
        <h2 class="text-center mb-4">OUR VISION</h2>
        <p>At Alora Event Management, our vision is to become Calicut’s most trusted and sought-after event 
            management company, delivering unforgettable experiences for all who seek to celebrate life’s 
            special moments. We aspire to set new standards in the event planning industry by providing innovative,
             seamless, and highly personalized services that cater to the diverse needs of our clients.
            Our goal is to create events that are not only memorable but also meaningful, reflecting the unique 
            traditions, values, and aspirations of our clients. Rooted in Calicut’s vibrant culture, we strive to 
            make every celebration—whether a wedding, corporate event, or private gathering—an effortless and 
            joyous experience for everyone involved.
            Alora envisions becoming a name synonymous with excellence, creativity, and heartfelt service, 
            turning every occasion into a cherished memory.</p>
        </div>
    </div>
    <div class="mission my-5 mx-auto w-100 d-flex flex-column justify-content-end align-items-end text-center">
        <div class="w-100">
        <h2 class="text-center mb-4">OUR MISSION</h2>
        <p>At Alora Event Management, based in Calicut, our mission is to provide exceptional event planning and 
            management services to everyone seeking professional and memorable celebrations. We are committed to 
            serving individuals, families, and businesses with creativity, precision, and an unwavering focus on 
            excellence.
            From traditional weddings and corporate events to private gatherings and cultural functions, we ensure 
            every detail is handled with care to deliver stress-free and seamless experiences. Our services are 
            designed to reflect your unique style and needs, making every event truly special.
            At Alora, we believe that every celebration deserves to be unforgettable. Rooted in the vibrant city 
            of Calicut, we welcome everyone to experience our dedication to creating moments that leave a lasting 
            impression.</p>
        </div>
    </div>
</div>
{% endblock content %}