{% extends 'admin_home.html' %}
{% load static %}
{% block content %}
<div class="container content">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h4>Add Hall</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'add_hall' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label class="form-label">Hall Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Enter hall name" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Location</label>
                                <textarea class="form-control" name="location" placeholder="Enter location" rows="2"></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Capacity</label>
                                <input type="number" class="form-control" name="capacity" placeholder="Enter capacity" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Price per Day</label>
                                <input type="number" class="form-control" name="price" placeholder="Enter price per day" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" name="description" placeholder="Describe the hall" rows="3"></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Upload Image</label>
                                <input type="file" class="form-control" name="image">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Add Hall</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

  
