<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <a href="{% url 'view_user' %}"><button>View user</button></a>
    <a href="{% url 'view_hall' %}">view Hall</a>
    <a href="{% url 'view_food' %}">view food</a>
    <a href="{% url 'view_decoration' %}">view decoration</a>
    <a href="{% url 'view_booking' %}">view Booking</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>