
{% extends 'alora_user.html' %}
{% load static %}
{% block content %}
<div>
    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex ">
                <div><img src="{% static 'img/wwd.png' %}" class="d-block w-100 pt-2 h-100 pe-2 " alt="" ></div>
                <div>
                    <img src="{% static 'img/haldi2.png' %}" class="d-block w-100 pt-2 h-50 pe-2 " alt="" >
                    <img src="{% static 'img/bday2.png' %}" class="d-block w-100 pt-2 h-50 pe-2 " alt="" >
                </div>
            </div>
            <div class="d-flex">
                <div><img src="{% static 'img/corporate1.png' %}" class="d-block w-100 pt-2 h-50 pe-2 " alt="" >
                    <img src="{% static 'img/gallery1.png' %}" class="d-block w-100 pt-2 h-50 pe-2 " alt="" ></div>
                <div>
                    <img src="{% static 'img/wed5.jpg' %}" class="d-block w-100 pt-2 h-100 pe-2 " alt="" >
                </div>
            </div>
            <div>
                <img src="{% static 'img/img1.png' %}" class="d-block w-100 pt-2 h-100 pe-2 " alt="" >
            </div>
            <div class="d-flex">
                <div>
                    <img src="{% static 'img/img7.png' %}" class="d-block w-100 pt-2 h-100 pe-2 " alt="" >
                </div>
                <div>
                    <img src="{% static 'img/download.png' %}" class="d-block w-100 pt-2 h-50 pe-2 " alt="" >
                    <img src="{% static 'img/img8.png' %}" class="d-block w-100 pt-2 h-50 pe-2 " alt="" >
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            
        </div>
    </div>
</div>
{% endblock content %}