<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'set_new_password' %}" method="post">
        {% csrf_token %}
        <input type="email" placeholder="email here" name="email">
        <input type="password" placeholder="enter new password" name="password1">
        <input type="password" placeholder="confirm password" name="password2">
        <button type="submit">Reset</button>
    </form>
</body>
</html>