<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <div>
        {% if message %}
            {{message}}<br><br>
        {% endif %}
        {% if error %}
            {{error}}
        {% endif %}
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <h3>User Registration</h3>
            <input type="text" name="name" placeholder="Name" required><br><br>
            <input type="email" name="email" placeholder="Email" required><br><br>
            <input type="tel" name="phone" placeholder="Phone Number" required><br><br>
            Gender: <input type="radio" name="gender" value="Male">
            <label for="" >Male</label>&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" value="Female">
            <label for="">Female</label>
            <input type="radio" name="gender" value="Other">
            <label for="">Other</label><br><br>
            <textarea name="address" placeholder="Address"></textarea><br><br>
            <input type="text" name="uname" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <input type="password" name="cpass" placeholder="Confirm Password" required><br><br>
            <button type="submit">Register</button><br><br>
            <span>Already Registered? <a href="{% url 'login' %}">Login</a></span>
        </form>
    </div>
    
</body>
</html>