{% extends 'alora_user.html' %}
{% load static %}
{% block content %}
{% if details %}
<div class="row main2 p-4">
    {% for i in details %}
    <div class="col-sm-4 pb-3 d-flex justify-content-center align-content-center">
        <div class="card" style="width: 18rem;">
            <img src="{{i.hall_id.photo_url.url}}" class="card-img-top " alt="">
            <div class="card-body">
              <h5 class="card-title text-center">{{i.hall_id.name}}</h5>
              <p class="card-text text-center"><b>Event Date :</b>{{i.event_date}}</p>
              
                <form action="{% url 'set_payment_status' id=i.id %}" method="post">
                    {% csrf_token %}
                    {% if i.status == 'accepted' and i.payment_status == 'pending' %}
                    <button type="submit" class="btn btn-primary " name="payment" value="pay" >Pay</button>
                    {% elif i.payment_status == 'completed' %}
                    <p class="text-center text-success"><b>Success</b> </p>
                    {% endif %}
                    </form>
              
            </div>
          </div>
    </div>
    
    
    {% endfor %}

</div>
{% endif %}
{% endblock content %}