<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <table>
        {% if details %}
        <tr>
            <th></th>
            <th>User Name</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        {% for i in details %}
        <tr>
            <td>{{forloop.counter }}</td>
            <td>{{i.user_id.username}}</td>
            <td>{{i.user_id.first_name}}</td>
            <td>{{i.user_id.email}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.address}}</td>
            <td>{{i.phone_number}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>