<style>
    .deco{
        overflow-y: auto;
        height: 450px;
    }
    .dec_img{
        animation-name: dec_img;
        animation-duration: 4s;
    }
    @keyframes dec_img {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

</style>
{% extends 'admin_home.html' %}
{% load static %}
{% block content %}

<div class="content ps-4" >
  <div class="d-flex justify-content-end mt-3 me-2">
    <a href="{% url 'add_decoration' %}" class="btn btn-primary text-decoration-none">Add Decoration</a>
  </div>
  {% if data %}
<div class="container mt-4 deco">
  <div class="row">
    {% for i in data %}
      <div class="col-md-4 mb-4 d-flex justify-content-center"> 
        <div class="card" style="width: 18rem;">
          <div class="d-flex justify-content-center mt-2 dec_img">
          <img src="{{i.decoration_image.url}} " class="card-img-top " alt="img" style="border-radius: 50%; height: 150px; width: 150px;">
        </div>
          <div class="card-body">
            <p class="card-text">price:{{i.decoration_price}}</p>
            <a href="{% url 'delete_decoration' id=i.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
</div>
{% endblock content %}